	.pos-top{top: 20% !important;}
  .sales em {
    text-decoration: line-through;
}
.sales {
    color: #8a8f9c;    
    font-size: 12px;
    padding: 3px 0 0;
}
.wrapper {
    background: #FFF;
    border-radius: 3px;
}
.empty-cart {
    color: #656b78;
    font-size: 14px;
    text-align: center;
    margin-top: 85px;
    padding: 84px 0 72px;
}
.empty-cart b {
    display: block;
    font-size: 16px;
    color: #383d48;
    padding: 20px 0 10px;
}
.empty-cart p {
    padding-bottom: 20px;
}
.unavailable{
    font-size: 12px;
    line-height: 18px;
    display: block;
    color: #d93434;
}
