html
{
    /*min-height: 1000px;*/
}
.items-logged-in,.items-logged-out {
    display: none !important;
}
.leftsidebarfixed {
    position: fixed;
    top: 0;
}
.staticpages{
  padding-top: 100px;
}
.nav-sections {
   
    position: absolute;
    top: 0;
    width: 160px;
}


.alert-danger, .alert-error {
    background-color: #ffd1c4;
}
/*.loading:before {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    z-index: 10;
    content: " ";
    background-image: url("../image/index.gif");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin-top: -15px;
    margin-left: -15px;
}
.loading:after {
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: " ";
    z-index: 9;
    opacity: 0.9;
    filter: alpha(opacity=90);
}*/


.message_user .selectize-control.loading, .loading_normal, #review_loading.loading_normal, .whiteloading, .whiteloading_like, .whiteloading_img {position: relative;}
.message_user .selectize-control.loading:before {
  box-sizing: content-box;
  content:"";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  border-width: 3px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
/*.message_user .selectize-control.loading:after {
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: " ";
    z-index: 9;
    opacity: 0.9;
    filter: alpha(opacity=90);
}*/

.loading_normal:before {
  box-sizing: content-box;
  content:"";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  border-width: 3px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  
}
/*.loading_normal:after {
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: " ";
    z-index: 9;
    opacity: 0.9;
    filter: alpha(opacity=90);
}*/

.whiteloading:before {
  box-sizing: content-box;
  content:"";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  border-width: 3px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
/*.whiteloading:after {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: " ";
    z-index: 9;
    opacity: 0.9;
    filter: alpha(opacity=90);
}*/
.whiteloading_like:before {
  box-sizing: content-box;
  content:"";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  border-width: 3px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
/*.whiteloading_like:after {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: " ";
    z-index: 9;
    opacity: 0.9;
    filter: alpha(opacity=90);
}*/
.whiteloading_img:before {
  box-sizing: content-box;
  content:"";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  border-width: 3px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
/*.whiteloading_img:after {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: " ";
    z-index: 9;
    opacity: 0.9;
    filter: alpha(opacity=90);
}*/
.photo-item {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
    position: relative;
}
#js-photo-grid .panel {
    border: 1px solid #dce0e0;
    background-color: #fff;
    border-radius: 0;
}
.photo-size, .photo-size img {
    width: 100% !important;
 }
 .img-responsive-height {
    width: auto;
    height: 100%;
}
.media-photo-block {
    display: block;
}


.media-photo {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    background-color: #cacccd;
}
.delete-photo-btn {
    display: block;
    z-index: 1;
}
.overlay-btn {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border:1px solid #F0F0F1;
    border: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
}
.overlay-btn:hover {
background-color: #F0F0F1;
}


.panel-close:before, .alert-close:before, .modal-close:before {
    content: "\00d7";
}
.panel-close, .alert-close, .modal-close {
    float: right;
    cursor: pointer;
    font-size: 2em;
    line-height: 0.7;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    /*color: #fff;*/
    color:#cacccd;
}
/*.modal-close {

    font-size: 4em;
    }*/
.panel-close:hover, .alert-close:hover, .modal-close:hover, .panel-close:focus, .alert-close:focus, .modal-close:focus {
    color: #b0b3b5;
    text-decoration: none;
}
.dp_head{
  position: relative;
    z-index: 9999;
    background: #fff;
    display: inline-block;
    width: 100%;
}
.lazy-load-div
{
    /*padding: 0;
    position: relative;*/
        box-shadow: inset 0 1px 0 #f5f5f5, 0 1px 0px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.05);
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: transform 0.22s ease-in-out;
    -webkit-transition: transform 0.22s ease-in-out;
    -moz-transition: transform 0.22s ease-in-out;
    will-change: transform;
    position: absolute;
    width: 100%;
    background-color: white;
    backface-visibility: hidden;
    transform: translateY(0);
    z-index: -1;
    
}
.lazy-load-div.lazy-load
{
    height: 100px;
    overflow: hidden;
    font-size: 0px !important;
}
.lazy-load-div.lazy-load img
{
    display: none;
}
.lazy-load-div.lazy-load a
{
    display: none;
}
.lazy-load::after
{
    content: " " !important;
    background: url('../image/white_index.gif') center center no-repeat;
    background-size: 40px;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
.header_slider .imgdiv
{
    border-radius: 100px;
}
.header_slider img
{
    border-radius: 50%;
}
.header_slider .imgdiv:hover
{
    background: #f1f1f1;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#header .full-width-slider.show-slide{ transform: translateY(-84px);z-index: -1;box-shadow: none;}
#header .full-width-slider.show-slide .bx-wrapper .bx-controls-direction a{
  display: none;
}
.store_page .store-list ul > li{float: left;width:32.4%;margin: 0px 0px 20px 1.4%;border-radius: 3px;overflow: hidden;}
.store_page .store-list ul > li:nth-child(3n+1){margin-left: 0;clear: left;}
.store_page .profile-photo { top: 35% !important; left: 0 !important;  width: 100%;}
.store_page .sort{height: auto;z-index: initial;}
.store_page .sort .category{padding:0px !important;display: inline-block;position: relative;}
.store_page .sort .category a.category-title{padding:10px 27px 10px 14px;display: inline-block;color: #6d7682}
.store_page .sort .category a.category-title:after{content: '';
    display: inline-block;
    width: 8px;
    height: 6px;
     vertical-align: middle;
    margin: -1px 0 0 6px;  background:url(../image/store.png) no-repeat -80px -20px / 100px 150px;}
.store_page .sort i.dash-icon {vertical-align: middle;margin-right: 4px;}
.store_page .profile-name{font-size: 14px;color: #383d48;text-transform: capitalize;margin-bottom: 0px;}
.store_page .store_details small, .store_page .store_details em{text-align: center; display: block; padding: 2px 0px 6px; font-size: 12px; font-style: normal;color: #8a8f9c;}
.store_page .sort .category:hover a.category-title{background-image: -webkit-linear-gradient(top,#f9fafa,#f4f4f5);box-shadow: inset 0 1px #fcfcfc, 0 1px 0 #D4D6D7, 1px 0 0 #E1E2E4;}
.store_page .sort .category .menu-content{display: block !important;position: relative;top:initial;right: initial;width:100%; z-index: 1;
    background: #fff;
    border-radius: 0 0 0 3px;
    box-shadow: 1px 0 0 #ececec;padding-top: 12px;}
.store_page .sort .category.opened .category-menu{display: block;z-index: 1;}
.store_page .sort .category .category-menu{
    width:100%;
    position: absolute;
    display: none;
    top: 45px;
    left: 0;
    background: #fff;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.26), -1px -1px 1px rgba(0, 0, 0, 0.03), 1px 1px 9px rgba(0, 0, 0, 0.03), inset 0 1px 0 #D4D6D7;
    z-index: 0;
    line-height: 23px;
    transition: padding 0.22s;
    -webkit-transition: padding 0.22s;
    -moz-transition: padding 0.22s;
    overflow: hidden;
    padding-top: 1px;
}
.store_page .sort .category .menu-content > ul{margin-bottom: 15px !important;}
.store_page .sort .category .category-menu li a.current{ font-weight: bold;    background-color: #f3f4f4;    color: #34383F;}
.store_page .sort .category .category-menu li.tit a.current{background:none;}
.store_page .sort .category .category-menu li a{display: block;padding: 0px 15px;color: #4c515a;}    
.store_page .sort .category .category-menu li a:hover{background: #f3f4f4;}
select{-moz-appearance:none;-webkit-appearance:none;appearance:none;}
.fa-heart-o:before, .fa-heart:before{margin-right:5px;}
.store_page > .container{max-width:1000px;}
.store_page .cover-photo-store {height: 135px;position: relative;background: #929fbd;}
.store_page .cover-photo-store .profile-photo{position: absolute;left:0;width:100%;text-align: center;bottom:-27%;top:inherit !important;}
.store_page .cover-photo-store .profile-photo img{width: 78px;height: 78px;border:2px solid #fff;float: none;}
.store_page .cover-photo-store img{height: 100%;width:100%;object-fit: cover;}
.store_page .store_details {position: inherit;}
.store_page .store_details .profile-name {margin-top: 40px;float: none;width: 100%;}
.store_page .cover-photo-div{height: auto;min-height:285px;background:#fff;padding-bottom: 10px !important;}
.store_page .store_listings {
    text-align: center;
    height: 60px;
}
#header .inbox_count{top:8px;}
button.flw_btn, a#follow {padding:0px !important;overflow: hidden;}
button.flw_btn > span, a#follow > span{padding:2px 10px;display: block;}
button.flw_btn > span.following_btn, a#follow > span.following_btn {color: #fff;background-color: #5b91c6;}
.account-detail > p.col-md-6:nth-of-type(odd){clear:left;}
.right-sett .account-detail .phone fieldset input{width: 100% !important;}
#add_product_form .shipping_rate.new .selectize-control.select-country div.item, .selectize-control.multi .selectize-input > div {background:#fff !important;
  color: #1b9dec !important;
  border:1px solid #1b9dec !important;
  text-shadow: none !important;
  box-shadow: none !important;}

#add_product_form .shipping_rate.new .selectize-control.select-country div.item a.remove, .selectize-control.multi .selectize-input > div > a  {border:none !important;}
span.popover-wrapper.user-pic > a{vertical-align: top;}
.table_adjust.pro_opt_table{margin: 0px;}
.back-white td.title{float: none;}
select.cart_option{max-width: 100%;margin-bottom: 10px;}
select.cart_qty{margin-left: 10px;}
.return_exchange_policy_description{position: relative;}
.policy .comment.return_exchange_policy_description .btn-reset{position: absolute;
    top: 10px;
    right: 30px;
    left: inherit;}
.full_width{width: 100% !important;}
.pro_follow{min-height: 64px;}

@media screen and (max-width:1199px)
{
.whole-products .margin-left-move{margin-left: 235px !important;}
.whole-products .sidebar.left-sidebar.fix-pos {width:235px !important;}
.whole-products .right-sidebar.fix-pos-right{padding: 0 !important;width: 235px;}
.store-list .pro-name{width:54% !important;}
.store-list li > a{width:50%;}
}

@media screen and (max-width:991px)
{
    .account-detail > p.col-md-6{padding: 0px;}
.whole-products .margin-left-move {
    margin-left: 25% !important;
}
.whole-products .sidebar.left-sidebar.fix-pos {
    width: auto !important;
}
.whole-products .right-sidebar.fix-pos-right{right: 10%}
}

@media screen and (max-width:860px)
{
    .whole-products .right-sidebar.fix-pos-right{right: 7%}

}

@media screen and  (min-width:768px) and (max-width:800px)
{
    .whole-products .right-sidebar.fix-pos-right{right:3%}

}

@media screen and (max-width:767px)
{
/*.whole-products .margin-left-move, .whole-products > .main-content{margin-left: 0px !important;width:100% !important;position: inherit !important;}
.whole-products .sidebar.left-sidebar.fix-pos, .whole-products > .sidebar.left-sidebar {width:auto !important;position: inherit !important;}
.whole-products .right-sidebar.fix-pos-right, .whole-products > .right-sidebar{width:100% !important;position: inherit !important;}*/
.whole-products .back-white {padding: 15px 20px !important;margin-top: 20px !important;margin-left: 0px !important;}
#header .bx-wrapper .bx-next {right: -15px !important;}
#header .bx-wrapper .bx-prev {left: -15px !important;}
.logo-show{padding:15px 0px;}
.store_page .cover-photo-store .profile-photo {position: absolute !important;bottom: -32px;}
.store_page .store-list ul > li:nth-child(3n+1) {margin-left: 2%;clear: inherit;}
.store_page .store-list ul > li {width: 49%; margin: 0px 0px 20px 2%;}
.store_page .store-list ul > li:nth-child(2n+1) {margin-left: 0;clear: left;}
.store_page .sort{overflow: initial;}
.store_page .cover-photo-store .profile-photo img {width: 64px;height: 64px;}
.cart_pro .back-white{margin: 0px !important;padding: 0px !important;}
.cart_pro .back-white li a .item-img{margin:0px 0px 10px;width:100% !important;}
.cart_pro .cart_pro_txt{padding:0px 0px 0px 10px;}
.login-back header 
{
  width:100%;
  /*text-align: center;*/
  padding: 21px;
}
.login-back header h1.logo{
  margin: 0;
}
.login-back header.header .logo a{display: inline-block;}
.signup-content.back-white{margin: 75px auto !important;padding: 20px 15px 40px 15px !important;z-index: 99;}
.login-content.back-white{margin: 75px auto !important;padding: 20px 15px 40px 15px !important;z-index: 99;}
.login-back {padding: 0px;}
.sign header.header {
     width: 100%;
     padding: 21px;
}
.sign h1.logo{
    margin: 0;
}
}

@media screen and (max-width: 600px)
{
/*.login-back h1.logo{font-size: 36px;margin:0px;}*/

}

.message_block
{
      height: 600px;
    overflow: hidden;
}
.status_loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ctime_from
{
      position: absolute;
    bottom: -25px;
    right: 0px;
}
.ctime_to
{
      position: absolute;
    bottom: -25px;
    left:0px;
}

.space_top_1{
  margin-top: 20px
}
.space_top_2 {
    margin-top: 25px;
}
.table_adjust th {
    padding: 6px 0;
    font-size: 12px;
}
.table_adjust thead > tr:first-child {
    border-bottom: 1px solid #CCC;
}
.table_adjust tbody > tr >td {
    padding: 8px 4px;    
    vertical-align: top;
}
.table_adjust tbody > tr >td > input {
    background-color: #FFF !important;
    height: 32px;
}
.table_adjust tbody > tr >td > .editbtn {
    margin: 0 !important;
    display: inline-block;
    padding: 9px 10px;
    border-radius: 3px;
    font-size: 12px;
}
.table_adjust {
    background-color: #ebeced;
    padding: 10px 14px 0px;
    border: 1px solid #CCC;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.refine_title
{
    margin: 5px 20px;
}
.nav-sections .current span
{
    font-weight: bold;

}
.bxslider.header_slider {
    padding-bottom: 6px;
    padding-top: 4px;
}
.clearfix{
    clear: both;
}
.mar0 {
    margin: 0 !important;
}
.line1 {
    line-height: 11px !important;
}
.btn-signup:focus {
    border: 1px solid #CCC;
}

.text_left
{
    text-align: left;
}
.overflow_visible
{
    overflow: visible;
}

.not-clickable
{
    pointer-events: none !important;

}
#show_stores .row > .item{padding: 0px;}
#show_stores .row > .item{width:23.5%;margin: 0px 0px 20px 2%;float: left;}
#show_stores .row > .item:nth-child(4n+1){margin-left: 0px;clear: left;}
#show_stores #profile_stores .cover-photo-div{height: auto;}
#show_stores #profile_stores .cover-photo-div .cover-photo{position: relative;}
#show_stores #profile_stores .cover-photo-div .cover-photo > img{height: 100%;object-fit:cover;}
#show_stores #profile_stores .cover-photo-div .cover-photo .profile-photo{position: absolute;bottom: -38px;top:inherit;left: 0 !important;width: 100%;text-align: center;}
.shop_link{display: block;margin:20px 0px 10px;}
#show_stores #profile_stores .profile-follow{margin-top: 15px;padding: 10px;line-height: 18px;}
#show_stores .store_details{text-align: center;margin-top: 40px;}
#show_stores .store_details p{margin:0px;color: #383d48;font-weight: bold;font-size: 13px;text-transform: capitalize;}
#show_stores .store_details em{font-style: normal;font-size: 11px;display: block;color: #8a8f9c;text-transform: capitalize;}
.head-list ul.msg-list > li > span > .flt-left > a{display: block;width:100%;text-transform: capitalize;}
.head-list ul.msg-list > li > span > .flt-left > p{padding: 0px 5px !important;}
.nav-sections ul.side-list li > a > p{padding: 3px 7px;line-height: 22px;margin: 0px;display: inline-block;border-radius: 3px;}
.nav-sections ul.side-list li > a > p:hover{ background: #f6f7f9;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.12);
  
    border: 0px;
    border-radius: 3px;}
.nav-sections ul.side-list li > a > p > img{margin-right: 5px;}
.tool_tip_new{
    position: relative;
}
.tool_tip_new  span.text-danger {
    background-color: red;
    color: #FFF;
    padding: 4px 4px;
    border-radius: 2px;
    position: absolute;
    font-size: 12px;
    margin-top: -18px;
    left: 0;
    bottom: -10px;
    white-space: pre;
    z-index: 1;
}
.tool_tip_new  span.text-danger:after {
    content: "";
    border-width: 6px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: red;
    top: -11px;
    position: absolute;
    left: 2px;
    border-radius: 2px;
}
.tool_tip_new.bt1 > span.text-danger {
    bottom: 0;
}
.li_list > li {
    display: inline-block;
    margin-bottom: 12px;
    margin-right: 28px;
    padding: 20px 0 26px;
}
.li_list > li > a {
    color: #5b626d;
    font-weight: bold;
    cursor: pointer;
    opacity: .6;
}
.li_list > li > a.current {
    opacity: 1;
}
.rm_margin-left-move.margin-left-move{
    margin: 0 !important
}
.brand_img {
    height: 180px;
    background-size: cover;
    background-position: center;
}
.multiple-shipping-frm th:nth-child(3){
    width: 150px;
}
.multiple-shipping-frm th:nth-child(4) {
    /*width: 200px;*/
    width: 25%;
}
.pro_21 {
    height: 229px;
    display: block;
    background-size: cover;
    background-position: center;
}
.tb_full{
    display: table;
}
.tb_cell{
    display: table-cell;
}
.nopadd{
    padding: 0 !important
}
.data-frm .tool_tip_new small {
    top: 2px;
}
.tool_tip_new.unit{
    display: inline-block;
}
.mce-edit-area.mce-container.mce-panel.mce-stack-layout-item.mce-last {
    border-width: 1px !important;
}
.des1 {
    padding: 2px 10px;
    display: block;
    font-size: 12px;
    color: #8a8f9c;
    height: 38px;
    overflow: hidden;
    margin-bottom: 10px;
}
.heg1{
    height: 60px;
}
.over_non{
    overflow: inherit;
}
.profile-photo:hover >a >span > .img-round.profile-img  {
    opacity: 1;
}
.profile-img{
    width:106px !important;
    height:106px;
}
.menu.mr_fix {
    margin:0 15px 20px 0 !important
}
.check_login > li:nth-child(even) > .col-lg-5 {
    float: left !important;
    margin-left: 34px;
}
.pro_13 {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -36px;
    position: relative;
    z-index: 1;
    border: 2px solid #FFF;
}
.bg_cover{
    background-size: cover;
    background-position: center;
}
.login_popup a.facebook:hover, .login_popup a.twitter:hover {
    color: #FFF;
}
.login_popup a.google:hover {
    color: #dc4e41;
}
.mr_lf_1{ margin-left: 8px }
.popover-body.wishlist_div > div{display: block;padding: 6px 10px 6px 15px;text-align: left;background-color: transparent;box-shadow: none;color: #333;}
.popover-body.wishlist_div > div:focus{background-color: transparent;box-shadow: none;}
.popover-body.wishlist_div > div.fa-heart-o:before, .popover-body.wishlist_div > div.fa-heart:before {margin-right: 15px;}
.popover-body.wishlist_div span{display: inline-block;text-align: left;vertical-align: middle;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;font-weight: 700;color: #333;}
.popover-body.wishlist_div span small{display: block;color: #8a8f9c;font-size: 11px;font-weight: lighter;margin: 7px 0px 0px;}
.pro_likes > span{display: inline-block;vertical-align: top;}
.show_more_options > a{display: inline-block;line-height: 12px;}
.main-content .img-title{line-height: 26px;font-weight: normal;}
.main-content .img-content > .img-title  + button, .main-content .img-title  + button {padding: 3px 7px 1px;position: absolute;right: 0;top: 0px;}
.main-content .img-content > .img-title + button:before, .main-content .img-title  + button:before {content: "";height: 100%;background: #fff;width: 5px;left: -6px;position:absolute; top: 0;display: inline-block;}
#show_spiffy li a.img-title, #show_store_products li a.img-title{width:100%;line-height: 30px;width:67%;}
#show_spiffy li button.not-clickable, #show_store_products li button.not-clickable{margin: 10px;padding: 3px 7px 1px;}
.popover-wrapper.right.show_more_options .popover-modal{z-index:1;}
ul#show_spiffy, ul#show_store_products{overflow: visible;}
.pro_likes > span.like-link{height: 30px;}
.profile_store_view, .store_detail {padding-bottom: 200px !important;}
.nav-sections.nav_sectionsnn.fix-pos {bottom: 30px;}
.mobile_menu.open{position: absolute;top: 0;left: 0;z-index: 99;background: #2b2e35;height: 100vh; overflow: hidden;width:100%; bottom: 0px;}
/*body.no_scroll{overflow: hidden;}*/
.mobile_menu .side-list > li > a, .mobile_menu .side-list-other > li > a, .mobile_menu .ul-head{color: #949599;}
.review-add .back-white.second-head.pay_order{padding: 20px !important;}
.mobile_menu i.nav-bar{float: none;cursor: pointer;border:none;vertical-align: middle;line-height: initial;margin-right: 5px;}
.mobile_menu i.nav-bar:before{line-height: initial;vertical-align: top;}
.mobile_menu i.nav-bar.icon-close{display: none;color: #95979a;}
.mobile_menu.open i.nav-bar.icon-close{display: inline-block !important;font-size: 14px;}
.mobile_menu.open .logo-show{padding: 15px; margin: 0 -15px; border-bottom: 1px solid #36393f;position: relative;}
.mobile_menu i.icon-search-1, .show-list .search_cnt{display: none;}
.mobile_menu .show-list .search_cnt{position: fixed;top: 0;left: 0;z-index: 99;background: #2b2e35;height: 100%;width:100%;padding: 0px;}
.mobile_menu .show-list .search_cnt .icon-right-arrow:before{display:inline-block;transform: rotate(180deg); color: #95979a;}
.mobile_menu.open i.icon-search-1{color: #95979a;float: right;}
.mobile_menu .search_cnt .input-set {width: 100%;border-bottom: 1px solid #36393f;padding:10px 10px 10px 46px;position: relative;}
.mobile_menu .search_cnt .input-set .head-search{border-radius: 0px 3px 3px 0px;}
.mobile_menu .search_cnt .input-set i.icon-right-arrow{position: absolute;left:8px;margin-right: 0px;}
.mobile_menu .head-list li{display: block;text-align: center;background: #95979a;color: #353941;border-radius: 3px;line-height: 30px;margin-bottom:5px;}
.mobile_menu .head-list li a{float: none;display: block;color: #353941;font-size: 13px;font-weight: bold;}
.mobile_menu .nav-sections {margin:5px 0px;}
.mobile_menu .nav-sections > ul{margin:0px -15px !important;}
.mobile_menu ul.side-list-other li a span{padding: 3px 0px;background: none;font-weight: normal;}
.mobile_menu .nav-sections ul.side-list li > a > p{padding: 3px 0px;}
.mobile_menu ul.side-list-other > li, .mobile_menu ul.side-list > li{padding: 0px 15px;}
.mobile_menu ul.side-list-other .ul-head, .mobile_menu ul.side-list .ul-head{background: rgba(37, 40, 46, 0.5);color: #5a5d63;padding: 5px 15px;line-height: 14px;}
.head-list li > a.currency + div, .head-list li > a.language + div{max-height: 240px;overflow:auto;}
.whole_search{margin: 14px 0px 0px;}
.pro_detail_page .detail_info{padding-right:0px;}
.all_store_product > a > img{height: 200px;object-fit: cover;}
.additional-store-header{padding-bottom: 30px;}
#js-photo-header li{position: relative;}
#js-photo-header li .basics-loading.whiteloading {position: absolute;left: 0px;top:30px;width: 100%;z-index:999;}
.cover-photo-div .profile-details{padding-top: 60px;}

@media screen and (max-width:1199px)
{
.check_login > li:nth-child(even) > .col-lg-5{margin-left: 0px;}
}
@media screen and (max-width: 991px)
{
    .head-list li {padding: 5px 5px 5px 7px;}
    .head-list li .dash-profile:after, .head-list li .dash-settings:after{margin: 2px 0 0 4px;}
    .head-list li .language:after{margin: 2px 0px 0 4px;}
    .head-list li .currency:after{margin: 2px 0px 0 6px;}
}
@media screen and (min-width: 767px)
{
    a.logo{
      position: absolute;
    margin: -10px 0 0 -45px;
    left: 50%;
    top: 50%;
    z-index: 99;
    }

}
@media screen and (max-width:767px)
{
#show_stores #profile_stores .profile-follow{float: none;}
#show_stores .row > .item:nth-child(4n+1) {margin-left: 2%; clear: none;}
#show_stores .row > .item {width:49%;}
#show_stores .row > .item:nth-child(odd) {margin-left: 0%;clear: left;}
.popover-wrapper.right.show_more_options .popover-modal{right:0px !important;}
.popover-wrapper.right.show_more_options .popover-modal:before{right:6px !important;}
.popover-wrapper.right.show_more_options .popover-modal:after{right:7px !important;}
.profile_store_view, .store_detail{padding-bottom: 0px !important;}
.right_activity{width: 400px !important;margin: 0 auto;}
.whole-products .left-sidebar .nav-sections{width:100% !important;}
.right_activity .pics img{object-fit: cover;}
.head-list{width:100%; text-align:center;} 
.head-list li a{padding: 0px !important;height: auto !important;}
.review-add .back-white.second-head{margin: 20px 0px 0px !important;padding: 0px !important;}
.review-add .back-white.second-head.pay_order button[type=submit]{float: none;}
.review-add .back-white.second-head.pay_order p{font-size: 13px;}
.review-add .review_detail > div:nth-child(even){margin-top:10px;}
h2.checkout-black{margin: 0px -15px;border-radius: 0px;}
.whole-products .nav-sections{display: none;}
.pro_detail_page .detail_info {padding: 0px;}
.popover-wrapper.right.show_more_options .popover-modal {z-index: 99;}
}
@media screen and (max-width:500px)
{
.store_page .store-list ul > li {width: 100%;margin: 0px 0px 20px 0;}
.right_activity{width: 280px !important;}
.cover-photo {height: 105px;}
.menu_3 {width: 100%;}
.menu_3 > li {width: 33.3%;}
.profile-photo-img {
    float: none;
}
.profile-photo {
    text-align: left;
}
.profile-name {
    width: 100%;
    margin-top: 0;
}
.profile-name + h6 {
    clear: both;
    margin-left: 12px;
}
.follow_btn_row, .pro_follow{float: none !important; text-align: center;margin: 50px 0px 0px;}
.profile-img {
    width: 80px !important;
    height: 80px;
}
.profile_store_view .profile_photo{bottom: -40px;}
.pro_follow{min-height: inherit;}
}

.desc_tagline
{
    display: block;
    position: relative;
    overflow: hidden;
    height: 34px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 12px;
    text-align: center;
    color: #858585;
}
.desc_tagline:after
{
    content: '';
    position: absolute;
    top: 17px;
    right: 20px;
    width: 30%;
    height: 17px;
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%);
    background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%);
    pointer-events: none;
}

/*For loading icon*/
@keyframes lds-ripple {
  0% {
    top: 50px;
    left: 0px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 20px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 0;
  }
}
@-webkit-keyframes lds-ripple {
  0% {
    top: 50px;
    left: 0px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 20px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 0;
  }
}
.loading{position: relative;-webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);}
.loading:before {
  box-sizing: content-box;
  content:"";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  border-width: 3px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.nt-store1 {
  display: inline-block;
}

.nt-store1 .noti-wrap{
  width: 100% !important;
}







/*mystyleresponsive*/

@media (max-width:1024px){

}


@media (max-width:767px){
.head-list.newlist {
    width: auto;
    text-align: left;
}
.mobile_menu .newlist.head-list li{
  background: transparent;
  text-align: left;
}

.mobile_menu ul.side-list-other > li, .mobile_menu ul.side-list > li{
  margin-bottom: 0;
}
.mobile_menu .side-list > li > a, .mobile_menu .side-list-other > li > a, .mobile_menu .newlist.head-list li > a{
  padding: 10px 0 !important;
}
.mobile_menu .side-list > li > a, .mobile_menu .side-list-other > li > a,.mobile_menu .newlist.head-list li > a{
  line-height: 20px;
   font-size: 15px;
}
.mobile_menu ul.side-list-other li a span{
  padding: 0;
}
.mobile_menu .ul-head{
padding: 10px 15px;
}
.ice img {
    vertical-align: top;
    width: 18px;
    height: 18px;
}
.profil2 ul {
    margin: 0 -15px !important;
    width: auto;
    overflow: hidden;
}
a.ed_pro {
    width: 50%;
 float: left;
}
.ed_pro span {
        float: left;
    text-align: left;
    padding-right: 10px !important;
}
.ed_pro span img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.ed_pro span p {
margin-bottom: 0px;
font-size: 14px
}
.setiing .fa {
    float: right;
    font-size: 18px;
}
.vew{
  color: #57585f;
}
.head-list .dash-shop::before {
    left: 0px !important;
    float: left;
}
.dash-car:before{
  top: 0;
}
.cartshop span {
    color: #949599;
    padding-left: 5px !important;
    display: inline-block !important;
    vertical-align: middle !important;
}
.log_menu {
    display: inline-block;
    width: 100%;
    padding-top: 17px;
}
.pad-top-25 {
    padding-top: 0;
}
.mobile_menu .side-list-other > li > a.ed_pro{
  /*padding-bottom: 0 !important;*/
}
.userset {

    border-radius: 3px;
    display: inline-block;
    width: 100%;
}
.col-lg-3.col-md-3.col-sm-3.col-xs-12.setting-sidebar.nopad.min-size-short {
    display: none;
}
.userset .set_menu {
    background: #fff;
    margin: 10px !important;
    border-radius: 3px;
    padding: 0;
}
.set_menu li {
    float: left;
    display: block;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.set_menu li a{
padding: 7px;
  }
}

.zoomContainer, .zoom_slider {
  cursor: zoom-in;
}
.zoomLens {
  cursor: none;
}
.zoomContainer {
  visibility: hidden;
}
.popup.thing-detail {
  position: relative !important;
}
body.pos-fix {
  position: relative !important;
  overflow: hidden !important;
  min-height: 100% !important;
}
body.pos-fix .popup .zoomContainer {
  top: 50px !important;
}
.player_inner_div
{
  width:100%;
}
.payment_options
{
  margin: 10 0px;
}
.payment_options span
{
  font-size: 10px;
  padding: 2px 7px 2px 2px;
  border-radius: 6px;
  color: #fff;
  font-style: italic;
}
.payment_options span.check
{
  background: #5cab5c;
}
.payment_options span.times
{
  background: #bf3636;
}
.payment_options i
{
  padding: 0 2px;
  font-size: 8px;
}
.coupon-code-field{
    display: block;
    padding: 8px 10px;
    width: 100%;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    background-color: #fff;
    color: #565a5c;
    line-height: normal;
}
.row-condensed {
    margin-left: -15.25px;
    margin-right: -40.25px;
}
.row-space-1 {
    margin-bottom: 6.25px;
}
#coupon_disabled_message{
   color: #d93434;
}
/* header activity */
#header .activity-content li .items {
    display: block;
    padding-top: 6px;
    white-space: nowrap;
}
#header .activity-content li .items img {
    height: 48px;
    width: 48px;
    margin-right: 1px;
    border-radius: 2px;
    background: no-repeat 50% 50%;
    background-size: cover;
    opacity: 0.5;
}
#header .activity-content li .items img:hover
 {
opacity: 1;
}
.popover-wrapper.right.show_more_options .popover-modal{
  z-index:99;
}

}