	#header{
		padding: 0px;
		height: 50px;
	}
	.head-list li a {
    font-size: 13px;
    color: rgba(82,91,101,0.8);
    height: 45px;
    padding: 20px 0px 0;
    float: left;
    

}
.inner-fancy-list{width: 100%;}
.fancy-head{width: 100%;}
.inner-fancy-list li a{width: 100%;}
.head-list{overflow: inherit !important;}
@media (min-width: 300px) and (max-width: 700px){
	#header{height: auto;}
	
}
	.dash-shop:before {position: relative !important;display: block;margin-top: 0px !important; top: 5px !important;}
	.cart_count {
    box-shadow: 0 0px 0px 1px rgb(255, 255, 255);
    text-shadow: 0px -1px 0px rgba(65, 134, 182, 0.65);
    border: 0;
    margin: 9px -14px 0;
    right: -3px;
    top: 0;
    padding: 0 4px;
    font-size: 10px;
    background: #4C9ADC;
    letter-spacing: -1px;
    position: relative;
    line-height: 15px;
    height: auto;
    vertical-align: middle;
    float: left;
    font-weight: bold;
    font-family: Arial;
    color: #fff;
    border-radius: 3px;
}

	.inbox_count {
    box-shadow: 0 0px 0px 1px rgb(255, 255, 255);
    text-shadow: 0px -1px 0px rgba(65, 134, 182, 0.65);
    border: 0;
    left: 5px;
    top: 8px;
    padding: 0 6px;
    font-size: 10px;
    background: #4C9ADC;
    letter-spacing: -1px;
    position: relative;
    line-height: 15px;
    height: auto;
    vertical-align: middle;
    font-weight: bold;
    font-family: Arial;
    color: #fff;
    border-radius: 3px;
    position: absolute;
}

@media(min-width: 300px) and (max-width: 359px){
          .msg-popup, .msg-popup2{left: -20px !important;}}