    #all-product.partner-dash .bx-viewport{height: 100% !important;}
    #all-product.partner-dash .bx-wrapper .bx-controls-direction a.bx-prev {
    right: 5px !important;
    top: 25px;
}
#all-product.partner-dash .bx-wrapper .bx-controls-direction a.bx-next {
    right: 34px !important;
    top: 25px;
}
.bxslider b {
    display: block;
    text-transform: uppercase;
    font-size: 9px;
    color: #404855;
}
.bxslider a {
    color: #4978b3;
    font-size: 12px !important;
}
#all-product .bx-wrapper{width: 70% !important;position: unset !important;float: left !important;}
#all-product .paging{
    right: 0px !important;
}
.input-set{width: 100% !important;}
.head-search{padding: 5px 20px 5px 45px !important;}
.input-set i{cursor: pointer;}
.head-search {
    border: 1px solid #dedfe0 !important;
    background: #f8f8f8 !important;
    border-radius: 3px;
    width: 100%;
    box-shadow: none;
    z-index: 2;
    color: #505b67;
    line-height: 17px;
    padding: 5px 10px 5px 30px;
    font-size: 13px;
    margin: 0px !important;
}
.new_product a
{
    border: 1px solid #D5D6D8 !important;
}

.tb-type4 .status.Pending::before{
    background: #cfcdd4;
}
.tb-type4 .status.Cancelled::before{
    background: #a63030;
}
.tb-type4 .status.Processing::before{
    background: #6033d0;
}
.tb-type4 .status.Completed::before{
    background: #75a630;
}
.tb-type4 .status.Delivered::before{
    background: #e8ac03;
}
.table-head th:first-child, .table-body td:first-child
{
    width: 20% !important;
}
.table-head th:last-child, .table-body td:last-child
{
    width: 20% !important;
}
.table-head th, .table-body td
{
    width:20% !important;
}

@media only screen and (max-width: 760px){
    .table-head th:first-child, .table-body td:first-child, .table-head th:last-child, .table-body td:last-child, .table-head th, .table-body td
{
    width: 100% !important;float: none;
}

}